In [15]:
import pandas as pd
from datetime import date
from datetime import time
from datetime import datetime

In [40]:
# Read Robbery data, add month and year columns
fulldf = pd.read_pickle('../data/robbery-street.p')
fulldf['month'] = fulldf.date.apply(lambda x: x.month)
fulldf['year'] = fulldf.date.apply(lambda x: x.year)

def celsius2fahrenheit(T):
    return T*1.8 + 32.

# Join with weather
weather = pd.read_pickle(r"../data/noaa-weather-downtown-sf.p")
weather.TMAX = weather.TMAX.apply(celsius2fahrenheit)
weather.TMIN = weather.TMIN.apply(celsius2fahrenheit)
fulldf = fulldf.merge(weather,how="inner",left_on="date",right_on="DATE")

df = fulldf[fulldf.year < 2016]

In [81]:
defaultfilters = {
    'startDate' : '01/01/2008',
    'endDate' : '03/01/2012',
    'startTime' : '05:00',
    'endTime' : '24:00',
    'weekdays': [u'Monday', u'Tuesday', u'Wednesday', u'Thursday', u'Friday', u'Saturday', u'Sunday'],
    'minHiTemp' : '54',
    'maxHiTemp' : '87',
    'minLoTemp' : '35',
    'maxLoTemp' : '70',
    'norain' : True,
    'rained' : False
}

In [10]:
print df.dtypes
df.head(3)

address                  object
date                     object
dayofweek                object
descript                 object
time                     object
x                       float64
y                       float64
nhood                    object
tractce10                object
police_district          object
hist_police_district     object
month                     int64
year                      int64
DATE                     object
PRCP                    float64
TMAX                    float64
TMIN                    float64
dtype: object

,address,date,dayofweek,descript,time,x,y,nhood,tractce10,police_district,hist_police_district,month,year,DATE,PRCP,TMAX,TMIN
0,400 Block of 6TH AV,2015-08-18,Tuesday,"ROBBERY ON THE STREET, STRONGARM",08:55:00,-122.464280,37.780033,Inner Richmond,045200,RICHMOND,RICHMOND,8,2015,2015-08-18,0.0,21.1,15.0
1,800 Block of 26TH AV,2015-08-18,Tuesday,ROBBERY ON THE STREET WITH A GUN,23:35:00,-122.485397,37.773433,Outer Richmond,047702,RICHMOND,RICHMOND,8,2015,2015-08-18,0.0,21.1,15.0
2,700 Block of MOSCOW ST,2015-08-18,Tuesday,ATTEMPTED ROBBERY ON THE STREET W/DEADLY WEAPON,21:30:00,-122.431690,37.715773,Excelsior,026302,INGLESIDE,INGLESIDE,8,2015,2015-08-18,0.0,21.1,15.0

In [12]:
df['date'][0]

datetime.date(2015, 8, 18)

In [20]:
startDate = datetime.strptime(defaultfilters['startDate'],"%m/%d/%Y").date()
startDate

datetime.date(2008, 1, 1)

In [21]:
endDate = datetime.strptime(defaultfilters['endDate'],"%m/%d/%Y").date()
endDate

datetime.date(2012, 3, 1)

In [31]:
df_filt = df[(df.date >= startDate) & (df.date <= endDate)]
print df_filt['date'].max()
print df_filt['date'].min()

2012-03-01
2008-01-01

In [84]:
time.max

datetime.time(23, 59, 59, 999999)

In [85]:
startTime = datetime.strptime(defaultfilters['startTime'],"%H:%M").time()
startTime
if defaultfilters['endTime'] == '24:00':
    endTime = time.max
else:
    endTime = datetime.strptime(defaultfilters['endTime'],"%H:%M").time()
endTime

datetime.time(23, 59, 59, 999999)

In [86]:
df_filt = df[(df.time >= startTime) & (df.time < endTime)]
print df_filt['time'].max()
print df_filt['time'].min()

23:59:00
05:00:00

In [41]:
df_filt = df[(df.TMAX >= float(defaultfilters['minHiTemp'])) & (df.TMAX < float(defaultfilters['maxHiTemp']))]
print df_filt['TMAX'].max()
print df_filt['TMAX'].min()

86.0
55.04

In [67]:
((df.PRCP == 0) & False)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
30       False
31       False
         ...
25054    False
25055    False
25056    False
25057    False
25058    False
25059    False
25060    False
25061    False
25062    False
25063    False
25064    False
25065    False
25066    False
25067    False
25068    False
25069    False
25070    False
25071    False
25072    False
25073    False
25074    False
25075    False
25076    False
25077    False
25078    False
25079    False
25080    False
25081    False
25082    False
25083    False
Name: PRCP, dtype: bool

In [66]:
((df.PRCP == 0) & pd.Series(False, index=xrange(len(df.PRCP))))

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
30       False
31       False
         ...
25054    False
25055    False
25056    False
25057    False
25058    False
25059    False
25060    False
25061    False
25062    False
25063    False
25064    False
25065    False
25066    False
25067    False
25068    False
25069    False
25070    False
25071    False
25072    False
25073    False
25074    False
25075    False
25076    False
25077    False
25078    False
25079    False
25080    False
25081    False
25082    False
25083    False
dtype: bool

In [70]:
df_filt = df[((df.PRCP == 0) & False) | ((df.PRCP > 0) & True)]
print df_filt['PRCP'].max()
print df_filt['PRCP'].min()

86.4
0.3

In [80]:
foo = [u'Monday', u'Friday', u'Saturday', u'Sunday']
df_filt = df[df['dayofweek'].apply(lambda x: x in foo)]
df_filt.dayofweek.value_counts()

Saturday    3757
Sunday      3718
Monday      3556
Friday      3489
Name: dayofweek, dtype: int64