In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame.from_csv('../rawdata/traffic-CollisionRecords.csv')
data.shape

/Users/Jay/miniconda3/envs/sf-walk-safety/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (26,29,30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

(59368, 75)

In [4]:
data.dtypes

ACCIDENT_YEAR                int64
PROC_DATE                    int64
JURIS                        int64
COLLISION_DATE               int64
COLLISION_TIME               int64
OFFICER_ID                  object
REPORTING_DISTRICT          object
DAY_OF_WEEK                  int64
CHP_SHIFT                    int64
POPULATION                   int64
CNTY_CITY_LOC                int64
SPECIAL_COND                 int64
BEAT_TYPE                    int64
CHP_BEAT_TYPE                int64
CITY_DIVISION_LAPD         float64
CHP_BEAT_CLASS               int64
BEAT_NUMBER                 object
PRIMARY_RD                  object
SECONDARY_RD                object
DISTANCE                   float64
DIRECTION                   object
INTERSECTION                object
WEATHER_1                   object
WEATHER_2                   object
STATE_HWY_IND               object
CALTRANS_COUNTY             object
CALTRANS_DISTRICT          float64
STATE_ROUTE                float64
ROUTE_SUFFIX                object
POSTMILE_PREFIX             object
                            ...
TYPE_OF_COLLISION           object
MVIW                        object
PED_ACTION                  object
ROAD_SURFACE                object
ROAD_COND_1                 object
ROAD_COND_2                 object
LIGHTING                    object
CONTROL_DEVICE              object
CHP_ROAD_TYPE                int64
PEDESTRIAN_ACCIDENT         object
BICYCLE_ACCIDENT            object
MOTORCYCLE_ACCIDENT         object
TRUCK_ACCIDENT              object
NOT_PRIVATE_PROPERTY        object
ALCOHOL_INVOLVED            object
STWD_VEHTYPE_AT_FAULT       object
CHP_VEHTYPE_AT_FAULT        object
COUNT_SEVERE_INJ             int64
COUNT_VISIBLE_INJ            int64
COUNT_COMPLAINT_PAIN         int64
COUNT_PED_KILLED             int64
COUNT_PED_INJURED            int64
COUNT_BICYCLIST_KILLED       int64
COUNT_BICYCLIST_INJURED      int64
COUNT_MC_KILLED              int64
COUNT_MC_INJURED             int64
PRIMARY_RAMP                object
SECONDARY_RAMP              object
LATITUDE                   float64
LONGITUDE                  float64
dtype: object

In [5]:
data.head(5)

,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,POPULATION,...,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE
CASE_ID,,,,,,,,,,,,,,,,,,,,,
598382,2003,20030828,3801,20030104,1205,NaN,NaN,6,5,7,...,0,0,0,0,0,0,-,-,NaN,NaN
629959,2003,20030428,3801,20030101,2338,4193,NaN,3,5,7,...,0,0,0,0,0,0,-,-,NaN,NaN
652822,2003,20030606,3801,20030207,800,NaN,NaN,5,5,7,...,0,0,0,0,0,0,-,-,NaN,NaN
662574,2003,20030715,3801,20030113,1700,27,NaN,1,5,7,...,0,1,0,0,0,0,-,-,NaN,NaN
694728,2003,20030529,3801,20030228,1800,156,B,5,5,7,...,0,0,0,0,0,0,-,-,NaN,NaN

In [6]:
dropcols = [
    'ACCIDENT_YEAR',
    'PROC_DATE',
    'JURIS',
    'OFFICER_ID',
    'REPORTING_DISTRICT',
    'CHP_SHIFT',
    'POPULATION',
    'CNTY_CITY_LOC',
    'SPECIAL_COND',
    'CITY_DIVISION_LAPD',
    'CHP_BEAT_CLASS',
    'BEAT_NUMBER',
    'DISTANCE',
    'DIRECTION',
    'STATE_HWY_IND',
    'CALTRANS_COUNTY',
    'CALTRANS_DISTRICT',
    'STATE_ROUTE',
    'ROUTE_SUFFIX',
    'POSTMILE_PREFIX',
    'POSTMILE',
    'RAMP_INTERSECTION',
    'SIDE_OF_HWY',
    'TOW_AWAY',
    'COLLISION_SEVERITY',
    'NUMBER_KILLED',
    'NUMBER_INJURED',
    'PARTY_COUNT',
    'PCF_CODE_OF_VIOL',
    'PCF_VIOLATION',
    'PCF_VIOL_SUBSECTION',
    'MVIW',
    'CONTROL_DEVICE',
    'CHP_ROAD_TYPE',
    'BICYCLE_ACCIDENT',
    'MOTORCYCLE_ACCIDENT',
    'TRUCK_ACCIDENT',
    'NOT_PRIVATE_PROPERTY',
    'COUNT_SEVERE_INJ',
    'COUNT_VISIBLE_INJ',
    'COUNT_COMPLAINT_PAIN',
    'COUNT_BICYCLIST_KILLED',
    'COUNT_BICYCLIST_INJURED',
    'COUNT_MC_KILLED',
    'COUNT_MC_INJURED',
    'PRIMARY_RAMP',
    'SECONDARY_RAMP'
]

data2 = data.drop(dropcols,axis=1)
data2.dtypes

COLLISION_DATE             int64
COLLISION_TIME             int64
DAY_OF_WEEK                int64
BEAT_TYPE                  int64
CHP_BEAT_TYPE              int64
PRIMARY_RD                object
SECONDARY_RD              object
INTERSECTION              object
WEATHER_1                 object
WEATHER_2                 object
LOCATION_TYPE             object
PRIMARY_COLL_FACTOR       object
PCF_VIOL_CATEGORY         object
HIT_AND_RUN               object
TYPE_OF_COLLISION         object
PED_ACTION                object
ROAD_SURFACE              object
ROAD_COND_1               object
ROAD_COND_2               object
LIGHTING                  object
PEDESTRIAN_ACCIDENT       object
ALCOHOL_INVOLVED          object
STWD_VEHTYPE_AT_FAULT     object
CHP_VEHTYPE_AT_FAULT      object
COUNT_PED_KILLED           int64
COUNT_PED_INJURED          int64
LATITUDE                 float64
LONGITUDE                float64
dtype: object

In [7]:
data2.head(5)['PED_ACTION']

CASE_ID
598382    A
629959    A
652822    A
662574    D
694728    A
Name: PED_ACTION, dtype: object

In [9]:
data3 = data2[(pd.notnull(data2['PEDESTRIAN_ACCIDENT']))]
data3.shape

(10479, 28)

In [13]:
data3.loc[[0],['PRIMARY_RD']]

KeyError: 'None of [[0]] are in the [index]'

In [18]:
from geopy.geocoders import GoogleV3

a = 'JUNIPERO SERRA BL'
b = '19TH AV'
foo = a+' at '+b+', San Francisco, CA'
print foo
g = GoogleV3()
location = g.geocode(foo)
print((location.latitude, location.longitude))

JUNIPERO SERRA BL at 19TH AV, San Francisco, CA
(37.7171109, -122.4726413)

In [15]:
type(location)

NoneType

In [36]:
data3 = data2[
    (pd.notnull(data2['PEDESTRIAN_ACCIDENT']).as_matrix()
    & pd.notnull(data2['LATITUDE']).as_matrix()
    & pd.notnull(data2['LONGITUDE']).as_matrix())
    ]

In [37]:
data3.shape

(5, 28)

In [38]:
data3.head(5)

,COLLISION_DATE,COLLISION_TIME,DAY_OF_WEEK,BEAT_TYPE,CHP_BEAT_TYPE,PRIMARY_RD,SECONDARY_RD,INTERSECTION,WEATHER_1,WEATHER_2,...,ROAD_COND_2,LIGHTING,PEDESTRIAN_ACCIDENT,ALCOHOL_INVOLVED,STWD_VEHTYPE_AT_FAULT,CHP_VEHTYPE_AT_FAULT,COUNT_PED_KILLED,COUNT_PED_INJURED,LATITUDE,LONGITUDE
CASE_ID,,,,,,,,,,,,,,,,,,,,,
5564078,20120917,844,1,0,0,JUNIPERO SERRA BL,19TH AV,N,A,-,...,-,A,Y,NaN,A,01,0,1,37.71542,122.47193
5907237,20121115,200,4,0,0,15TH ST,MISSION ST,N,B,-,...,-,C,Y,Y,A,07,0,1,37.76662,122.41936
6365111,20140123,1928,4,0,0,MISSION ST,6TH ST,Y,A,-,...,-,C,Y,NaN,N,60,0,1,37.78091,122.40879
7190008,20160129,1834,5,0,0,30TH ST,DOLORES ST,N,C,-,...,-,C,Y,NaN,N,60,1,0,37.74237,122.42441
7203098,20160206,1357,6,0,0,3RD ST,HOWARD ST,N,A,-,...,-,A,Y,NaN,A,01,0,1,37.78519,122.40032

In [39]:
data4 = data2[
    (pd.notnull(data2['LATITUDE']).as_matrix()
    & pd.notnull(data2['LONGITUDE']).as_matrix())
    ]
data4.shape

(100, 28)

In [51]:
data2['LONGITUDE'].describe()

count    100.000000
mean     122.386857
std        0.067916
min      122.234620
25%      122.389915
50%      122.403445
75%      122.419940
max      122.504070
Name: LONGITUDE, dtype: float64

In [48]:
data.iloc[10000:10050,-1]

CASE_ID
1994962   NaN
1994963   NaN
1994964   NaN
1994965   NaN
1994966   NaN
1994967   NaN
1994968   NaN
1994969   NaN
1994970   NaN
1994971   NaN
1994972   NaN
1994973   NaN
1994974   NaN
1994975   NaN
1994976   NaN
1994977   NaN
1994978   NaN
1994979   NaN
1994980   NaN
1994981   NaN
1994982   NaN
1994983   NaN
1994984   NaN
1994985   NaN
1994986   NaN
1994987   NaN
1994988   NaN
1994989   NaN
1994990   NaN
1994991   NaN
1994992   NaN
1994993   NaN
1994995   NaN
1994996   NaN
1994997   NaN
1994998   NaN
1994999   NaN
1995000   NaN
1995001   NaN
1995002   NaN
1995003   NaN
1995004   NaN
1995005   NaN
1995006   NaN
1995007   NaN
1995008   NaN
1995009   NaN
1995010   NaN
1995011   NaN
1995012   NaN
Name: LONGITUDE, dtype: float64

In [49]:
data['ACCIDENT_YEAR'].describe()

count    59368.000000
mean      2009.046608
std          3.823149
min       2003.000000
25%       2006.000000
50%       2009.000000
75%       2012.000000
max       2016.000000
Name: ACCIDENT_YEAR, dtype: float64